/* From Prototype:
Colors
Text: #090C08
Primary: #0A4748
Secondary: #DA9664
Accent: #89BDB2
Background: #F8F4F9

Fonts
Header 1: Merriweather-Bold-48pt
Header 2: Merriweather-Regular-40pt
Header 3: Merriweather-Bold-32pt
Header 4: Merriweather-Regular-28pt
Footer Text: Merriweather-Bold-16pt
Nav Items: Courier Prime-Bold-24 
Body Text: Courier Prime-Regular-16pt
*/

body {
    background-color: #F8F4F9;
    color: #090C08;
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime';
    font-size: 16px;
}

/* FONTS */
p {
    font-size: 16px;
    font-family: "Courier Prime";
}
h1, h2, h3, h4, footer {
    font-family: 'Merriweather';
    text-align: center;
}
h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
}


/* NAV BAR UPDATES*/
nav {
    background: #da9664;
    color: #F8F4F9;
    text-transform: uppercase;
}
nav .button {
    background: #da9664;
}
nav .burger {
    width: 15px;
}
@media (max-width: 60em) {
    nav .burger~.menu, nav .show:checked~.burger {
        background: #da9664;
        max-width: 100%;
        width: 100%;
        color: #F8F4F9;
    }
}

/* FOOTER */
footer {
    background: #da9664;
    color: #F8F4F9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 1rem 0;
    margin-top: 3rem;
}

/* HOME PAGE */
.mission {
    background-color: #0A4748;
    color: #89BDB2;
    padding: 1rem;
    margin-top: 5rem;
    margin: 5rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
    border-radius: 10px;
}
.mission h2 {
    color: #F8F4F9;
}

.sign-up {
    background-color: #89BDB2;
    padding: 2rem;
    margin: 0 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
input {
    background: #F8F4F9;
    border-radius: 10px;
}
.news-submit-button {
    background: #F8F4F9;
    border: 3px solid #da9664 ;
    border-radius: 5px;
    color: #da9664;
    font-weight: bold;
    cursor: pointer;
}
.news-submit-button:hover, .news-submit-button:focus, .news-submit-button:focus-within {
    background: #da9664;
    color: #F8F4F9;
    border: 3px solid #0A4748;
    text-decoration: underline;
}

.featured_events{
    margin-top: 3rem;
}
.event-card {
    background: #89BDB2;
    color: #0A4748;
    margin: 1rem;
    padding: .5rem;
    border: 3px solid #0A4748;
    border-radius: 15px;
    color: #0A4748;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    cursor: pointer;
}
.event-date {
    background: #0A4748;
    color: #89BDB2;
    border-radius: 15px;
    margin-right: .25rem;
    text-align: center;
}
.event-details{
text-align: center;
}

.featured_reviews{
    margin-top: 3rem;
}
.review-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
}
.review-card img {
    width: 100%;
}
.review-stars a{
    color: #da9664;
    cursor: pointer;
}
.carousel {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 1rem;
    gap: 1.5rem
}
.read-more button{
    background:#F8F4F9;
    color: #da9664;
    font-weight: bold;
    border: 3px solid #da9664;
    border-radius: 10px;
}
.read-more:hover, .read-more:focus, .read-more:focus-within {
    background: #da9664;
    color: #F8F4F9;
    border: 3px solid #0A4748;
    text-decoration: underline;
}
.read-more {
    margin: 0 auto;
}



/* EVENTS PAGE */
.calendar-container{
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.calendar-container iframe{
    width: 95%;
    height: 500px;
}
.events-blurb {
    padding: 1rem 1rem;
}

/* REVIEW PAGE */
